global
    log stdout format raw local0
    maxconn 2048
    ssl-default-bind-options no-sslv3
    ssl-default-bind-ciphers ECDHE-RSA-AES128-GCM-SHA256

defaults
    log global
    mode http
    timeout connect 5000ms
    timeout client  50000ms
    timeout server  50000ms

frontend https_in
    bind *:443 ssl crt /usr/local/etc/haproxy/cert.pem
    acl is_apache path_beg /apache
    acl is_python path_beg /python

    use_backend apache_backend if is_apache
    use_backend python_backend if is_python

backend apache_backend
    server apache apache:80

backend python_backend
    server python python:5000

